*bin/*
*localhost/*
*target/*
*eclipse/*
*logs/*
*test-result/*
*.settings/*
*.classpath
*.project
*.velocity.log
*.settings
*.iml
*.idea
*.ipr
*.log
*.pmd
*db/*
*tmp/*
*.swp
out/
