<!DOCTYPE html>
<html>
    <body>
        <p>Thanks for signing up! Here's all the good stuff you need: </p>

        <p>
            <strong>Desired username</strong> is ${user.username}
        </p>
        <p>
            <strong>First name</strong> is ${user.firstname}
        </p>
        <p>
            <strong>Last name</strong> is ${user.lastname}
        </p>
        <p>
            <strong>Email</strong> is ${user.email}
        </p>

        <br />
        <span>The only thing you need to do is to activate your account by follow this </span>
        <a href="@@{application.index}#!@{Secure.activate()}?email=${user.email}&token=${token}">
           <span>@@{application.index}#!@{Secure.activate()}?email=${user.email}&token=${token}</span>
       </a>

       <br />
       <span>Then, you'll be able to configure your first buildwall </span>
       <a href="@@{application.index}#!@{BuildWall.wall()}">
           <span>here</span>
       </a>

       <br />
       <p>Enjoy !</p>
       <p>The Buildwall.com Team</p>
    </body>
</html>