<!DOCTYPE html>
<html>
    <body>
        <p>Thanks for signing up! Here's all the good stuff you need: </p>

        <p>
            <strong>Desired username</strong> is ${user.username}
        </p>
        <p>
            <strong>First name</strong> is ${user.firstname}
        </p>
        <p>
            <strong>Last name</strong> is ${user.lastname}
        </p>
        <p>
            <strong>Email</strong> is ${user.email}
        </p>

       <a href="@@{application.index}#!@{BuildWall.wall()}">
           <span>configure your buildwall now !</span>
       </a>

       <p>The Buildwall.com Team</p>
    </body>
</html>