	<p><h1>User created !</h1></p>

		<p>
			<strong>Desired username</strong> is ${user.username}
		</p>
		<p>
			<strong>First name</strong> is ${user.firstname}
		</p>
		<p>
			<strong>Last name</strong> is ${user.lastname}
		</p>
		<p>
			<strong>Email</strong> is ${user.email}
		</p>

        <p>An email has also be sent to you.</p>
        <p>Before you start using BuildWall.com, you need to go to your inbox and click on the activation link.</p>

 <script type="text/javascript">
	$(document).ready(function() {
		initStyle();
		//$('a#signup-goto-buildwall').click(redirectLink);
	 });
</script>