<div class="header page">
	<h1>Mentions légales</h1>
</div>

<div id="legals" class="padding">

<h5>Editeur :</h5>
<p>A-Consulting</p>

<p>11 rue Camille Desmoulins<br/>
95870 BEZONS<br/>
Tél : 06 87 05 60 19</p>

<p>SARL au capital de 2000 euros<br/>
Siège social : 11 rue Camille Desmoulins. 95870 BEZONS<br/>
Siret : 511 448 078 00010 RCS PONTOISE<br/>
Ape : 6201Z <br/>
N°TVA : FR 89 511 448 078</p>

<p>Directeur de la publication : Jean-Baptiste LEMEE</p>
<p>Hébergeur : 1and1 - 7, Place de la gare - BP70109 - 57201 Sarreguemines CEDEX</p>

 
<h4>Conditions générales d'utilisation du site et des services</h4>
<p>L'utilisation de ce site implique l'acceptation inconditionnelle des conditions générales d'utilisation : 
<a id="legals-terms" href="#!@{Application.terms()}">Afficher les conditions générales d'utilisation du site et des services</a></p>

	<div class="clear"></div>
</div>
