<
<div class="header page">
    <h1>Help</h1>
    <ul>
        <li class="active"><a href="tour.html">Overview</a></li>
        <li><a href="tour.html">My Account</a></li>
    </ul>
</div>

<div id="tour" class="padding">

    <p>This buildwall is able to show informations coming from a continuous integration server on a screen. It works by installing a plugin into your integration server, configuring it to send the information you want to the BuildWall. The BuildWall listen to the plugin and display information directly.</p>

    <!-- Start Embeddable Screencast -->
    <<object id='stUExTRkdJRFtWQV9YWF9cVFZW' width='425' height='344' type='application/x-shockwave-flash' data='http://www.screentoaster.com/swf/STPlayer.swf'  codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,115,0'><param name='movie' value='http://www.screentoaster.com/swf/STPlayer.swf'/><param name='allowFullScreen' value='true'/><param name='allowScriptAccess' value='always'/><param name='flashvars' value='video=stUExTRkdJRFtWQV9YWF9cVFZW'/></object><div style='width: 425px; text-align: right;'><a href='http://www.screentoaster.com/'>Free online screencasting tool</a></div>
    <!-- End Embeddable Screencast -->

</div>
