<!DOCTYPE html>

<html>
<head>
    <title>#{get 'title' /}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="&{'meta.description'}"/>
    <meta name="keywords"
          content="radiator, hudson, team city, bamboo, plugin, gravatar, build, wall, buildwall, agile, scrum, integration continue, integration, continuous, scrum, lean, kanban, agile, software, cloud, saas, service"/>
    <meta name="robots" content="index,follow"/>
    <meta name="google-site-verification" content="Urtu9d4J6Twf1u3c2Y4F2Cw4HMxT12ejKstKzeQtpwU"/>
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/styles.css'}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/green-blue.css'}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="@{'/public/javascripts/fancybox/jquery.fancybox-1.3.4.css'}"/>
    #{get 'moreStyles' /}
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    <script src="@{'/public/javascripts/jquery.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="@{'/public/javascripts/jquery.tools.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="@{'/public/javascripts/jquery.validate.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="@{'/public/javascripts/jquery.form.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="@{'/public/javascripts/jquery.history.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="@{'/public/javascripts/jquery.md5.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="@{'/public/javascripts/fancybox/jquery.mousewheel-3.0.4.pack.js'}" type="text/javascript"
            charset="utf-8"></script>
    <script src="@{'/public/javascripts/fancybox/jquery.fancybox-1.3.4.pack.js'}" type="text/javascript"
            charset="utf-8"></script>
    <script src="@{'/public/javascripts/site.js'}" type="text/javascript" charset="utf-8"></script>
    #{get 'moreScripts' /}
</head>
<body>
#{doLayout /}
</body>
</html>
